@use './functions' as f;
@use './breakpoints' as b;
@use 'sass:color' as c;


@mixin btn() {
    font-family: inherit;
    background-color: var(--background-color);
    border-radius: f.rem(10);
    cursor: pointer;
}

@mixin blue-btn() {
    @include btn();
    color: var(--primary-color);
    border: f.rem(2) solid var(--primary-color);
}

@mixin red-btn() {
    @include btn();
    color:red;
    border: f.rem(2) solid red;
}

@mixin blue-btn-action() {
    transition: 200ms ;

    &:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
        box-shadow: 0px 5px 10px 2px #0095ff95;
        transform: translateY(-5px);
    }

    &:active {
        transform: scale(.98);
    }
}

@mixin red-btn-action() {
    transition: 200ms ;

    &:hover {
        background-color: red;
        color: var(--background-color);
        box-shadow: 0px 5px 10px 2px c.scale(red, $lightness: -60%);;
        transform: translateY(-5px);
    }

    &:active {
        transform: scale(.98);
    }
}

@mixin overlayStyles() {
    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh; 
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: 200ms ease-in-out;
    }
    
    .overlay.active {
        pointer-events: all;
        opacity: 1;
    }
}

@mixin popupMedia() {
    @include b.breakpoint-down(medium) {
		font-size: 17px;
	}

	@include b.breakpoint-down(small) {
		font-size: 13.5px;
	}

	@include b.breakpoint-down(xsmall) {
		font-size: 12px;
	}
}

@mixin popupStyles() {
    position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%) scale(0);
	width: 22em;
	height: 22em;
	margin: .5rem 0;
	background-color: var(--background-color);
	box-shadow: 0 0 f.em(100) f.em(5) #0095ff95;
	border-radius: f.em(10);
	padding: 2em;

	font-size: 19px;

	display: flex;
	flex-direction: column;
	gap: 1em;

	transition: 200ms ease-in-out;
    @include popupMedia();
}

