@use './functions' as f;

@mixin blue-btn() {
    font-family: inherit;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: f.rem(2) solid var(--primary-color);
    border-radius: f.rem(10);
    cursor: pointer;
}

@mixin blue-btn-action() {
    transition: 200ms ;

    &:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
        box-shadow: 0px 5px 10px 2px #0095ff95;
        transform: translateY(-5px);
    }

    &:active {
        transform: scale(.98);
    }
}