@use "../util/" as u;

.configurations {
	@include u.popupStyles();

	&__input-group {
		display: flex;
		flex-direction: column;
		gap: .25em;

		label {
			font-size: .8em;
			color: var(--primary-color);
			&::selection {
				color: var(--text-color);
			}
		}

		input {
			font-size: 1em;
			color: var(--primary-color);
			background-color: var(--background-color);
			border: none;
			border-bottom: 1px solid var(--primary-color);
			border-radius: u.em(5);
			font-weight: bold;
			height: 2em;
			padding-left: .25em;

			&:active, &:focus-visible {
				border-bottom: 2px solid var(--primary-color);
				border-right: 2px solid var(--primary-color);
				outline: none;
			}

			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
		
		select {
			font-size: 1em;
			background-color: var(--background-color);
			color: var(--primary-color);
			border: none;
			border-bottom: 1px solid var(--primary-color);
			border-radius: u.em(5);
			font-weight: bold;
			height: 2em;

			&::-webkit-scrollbar {
				background-color: var(--background-color);
			}

			&::-webkit-scrollbar-thumb {
				border: u.rem(2) solid var(--primary-color);
			}

			&:active, &:focus-visible {
				border-bottom: 2px solid var(--primary-color);
				border-right: 2px solid var(--primary-color);
				outline: none;
			}
		}
	}

	&__btn {
		position: absolute;
		bottom: 2em;
		right: 2em;

		margin-top: 2em;
		@include u.blue-btn();
		border: none;
		transition: 200ms;

		background: url("/src/assets/magic_wand.svg");
		background-position: center;
		background-size: 3em;
		background-repeat: no-repeat;
		width: 4em;
		height: 4em;

		&:hover {
			background: url("/src/assets/magic_wand_dark.svg");
			background-color: var(--primary-color);
			box-shadow: 0px 5px 10px 2px #0095ff95;
			transform: translateY(-5px);
			background-position: center;
			background-size: 3em;
			background-repeat: no-repeat;
		}
	}
}

.configurations.active {
	transform: translate(-50%, -50%) scale(1);
}

@include u.overlayStyles();