@use '../util/' as u;

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;

	img {
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		user-select: none;
		-webkit-user-drag: none;

		@include u.breakpoint-down(medium) {
			width: 5rem;
			height: 5rem;
		}
	}

	.cauldron {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;
	}
}
