.quiz-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .question-num {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}
