@use '../util/' as u;

.quiz-window {
    position: relative;
    width: 50em;

    .loading-msg {
        text-align: center;
        font-size: 4em;
        color: var(--primary-color);

        &::selection {
            color: var(--text-color);
        }
    }

    .question-num {
        position: absolute;
        right: 0;
        margin-top: 1em;
        font-size: 1.2em;
        opacity: 0;
        &::selection {
            color: var(--primary-color);
        }

        .curr-num {
            font-size: 24px;
            color: var(--primary-color);
            
        }

        @include u.breakpoint-down(medium) {
			font-size: 14px;
		}
    }
}
