@use '../util/' as u;

.results {

    &__score {
        color: var(--primary-color);

        &::selection {
            color: var(--text-color);
        }
    }

    &__start-over-btn {
        margin-top: 2rem;
        float: right;

        @include u.blue-btn();
        @include u.blue-btn-action();
        font-size: 1.5rem;
        padding: .3rem 2rem;
    }
}

.result {
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-top: 2px solid var(--primary-color);

    &__question {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        line-height: 1.3;
        letter-spacing: u.rem(3);
    }

    &__btn-group {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        &__btn {
            @include u.blue-btn();
            padding: .3rem .5rem;
            font-size: 1.2rem;
            transition: 200ms ;
        }
    }
}